Backend/.venv
Backend/.env
Backend/test*
.venv
.env
test*

# Frontend secrets and local files
frontend/.streamlit/secrets.toml
frontend/.env

# Deployment
*.log
.deployment/
render-logs/
__pycache__
.DS_Store

# Streamlit
.streamlit/